Python/
NumPy/NumPy .pdf

# Environments
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

output.txt
output2.txt
output3.txt

Pandas/pandas_tutorial.ipynb
NumPy/numpy_tutorial.ipynb

Data/thinking_data.ipynb